<h1 class = "header">
  <%= link_to "New", new_task_path, class: "link" %>
  See your tasks:</h1>
<!-- <div class="navbar">
    <img src="images/logoprice.png" class = "logo">
    <div class="logo-phrase">Best<br />Task manager<br />Ever</div>
    <div class="phrase"> Beat the consensus</div>
       <li class="form-group" id="navbar-research">
          <input type="text" class="form-control" id="navbar-research-inside" placeholder="research security">
        </li>
    </div>
 -->

<% @tasks.each do |task| %>
<div class="single-task">
<%= task.name %>
</div>
<div class="options-task">
  <%= link_to "Show", task_path(task.id), class: "link" %>
    <%= link_to "Edit", edit_task_path(task), class: "link"%>
      <%= link_to "Delete", task_path(task),  method: :delete, class: "link"
 %>
      <br>
      </div>
<% end %>
